

<div class="jumbotron">
    <h3>BUSCAR FRUTA</h3>
    <div>
        <a href="/frutas" class="btn btn-default">Voltar</a>
    </div>

    <form action="/frutas/buscarpornome" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" maxlength="50">


            <button type="submit" class="btn btn-info">Buscar</button>
    </form>

</div>

