@{ 

    Business.Fruta fruta = ViewBag.Fruta;

}
<div class="jumbotron">
    <h3>FRUTA...</h3>
    <div>
        <a href="/frutas/buscar" class="btn btn-default">Voltar</a>
    </div>

    @if (fruta.Nome != null)
    {

    <form action="/frutas/@fruta.Id/alterar" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <label for="nomer">@fruta.Nome</label> 
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <label for="descricaor">@fruta.Descricao</label>

        </div>
        <div class="form-group">
            <label for="imagem">Imagem:</label>
            <label for="imagemr">@fruta.Imagem</label>
        </div>
    </form>
    }
    else { 

        <div class="form-group">
            <label for="resultado" style="color:red">Fruta nao cadastrada</label>
        </div>
    
    }

</div>

